<div class="cover-container d-flex w-100">
  <div class="row justify-content-center w-100">
    <main role="main" class="cover pr-3 pl-3">
      <h1 class="cover-heading">Homebridge Honeywell Home Plugin</h1>
      <p class="lead">
        A Honeywell Home plugin for Homebridge.
      </p>
      <p class="lead">
        <a href="https://github.com/d0n4v4nb3ck3r/homebridge-honeywell-home" class="btn btn-lg btn-dark"><i class="fab fa-github"></i>
          GitHub
        </a>
        &nbsp;
        <a href="https://www.npmjs.com/package/homebridge-honeywell-home" class="btn btn-lg btn-dark"><i
            class="fab fa-npm"></i>
          NPM
        </a>
        &nbsp;
        <a href="https://github.com/d0n4v4nb3ck3r/homebridge-honeywell-home/wiki" class="btn btn-lg btn-dark">Wiki</a>
      </p>
    </main>
  </div>
</div>