<div class="app-container w-100 d-flex flex-column align-items-start">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark w-100">
    <a class="navbar-brand" routerLink="/">
      <img class="menu-logo" src="/assets/homebridge-logo.svg" />
      Homebridge Honeywell Home
    </a>
  </nav>

  <div class="container-fluid w-100">
    <router-outlet></router-outlet>
  </div>

  <div class="mt-auto w-100 mb-2">
    <div class="container-fluid w-100">
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 w-100 mt-auto grey-text text-center">
          <a class="grey-text small" href="https://github.com/oznu">
            &copy; 2020-{{ year }} oznu
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
